/* ======COLORS====== */
.first_color {
    color : #FBFCFC;
}

.second_color {
    color : #1D41BE;
}

.third_color {
    color : #A5ABBC;
}

.four_color {
    color : #7095EF;
}

.five_color {
    color : #2B4EC9;
}

.six_color {
    color : #54484D;
}

.seven_color {
    color : #7C8A9B;
}

/* ======BG-COLORS====== */

.first_bg-color {
    background-color : #FBFCFC;
}

.second_bg-color {
    background-color : #1D41BE;
}

.third_bg-color {
    background-color : #A5ABBC;
}

.four_bg-color {
    background-color : #7095EF;
}

.five_bg-color {
    background-color : #0053F8;
}

.six_bg-color {
    background-color : #54484D;
}

.seven_bg-color {
    background-color : #7C8A9B;
}

