.head__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__form__button{
    padding: 8px;
}

.line-hr-form{
    width: 100%;
}

.body__wrapper-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}


.body__wrapper-card__dateexpired-input{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.body__wrapper__confirmate-save-info{
    padding: 10px 0px;
}

.body__confirmate-save-info__form-input{
    display: flex;
    align-items: center;
}

.body__wrapper__region-country, .body__wrapper__city-zip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
}

.body__phonenumber-form{
    display: flex;
}

.body__phonenumber-form-select{
    width: auto;
}

.body__wrapper__button-submit{
    margin: 20px 0px;
}

