<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-theme.css">
    <link rel="stylesheet" href="../styles/style-general.css">
    <link rel="stylesheet" href="../styles/style-buy.css">

</head>
<body>

    <div class="">
        <div class="head first_bg-color">
            <div class="head__wrapper">
                <div class="head__options">
                    <button class="head__options__button-buy">
                        BUY
                    </button>
                    <button class="head__options__button-swap">
                        SWAP
                    </button>
                </div>
            </div>
        </div>
        <div class="body first_bg-color">
            <div class="body__wrapper__you-pay">
                <div class="body__you-pay__content">
                    <div class="body__you-pay__content__title">
                        YOU PAY
                    </div>
                    <div class="body__you-pay__content__body">
                        1500.00
                    </div>
                </div>
                <div class="body__you-pay__form">
                    <select class="body__you-pay__form-selects" name="" id="">
                        <option value="">
                            <div class="body__you-pay__form-selects__wrapper">
                                <div class="body__you-pay__form-selects__img">
                                    $
                                </div>
                                <div class="body__you-pay__form-selects__type-pay">
                                    <div class="body__you-pay__form-selects__type">
                                        USD
                                    </div>
                                    <div class="body__you-pay__form-selects__price">
                                        0.00 USD
                                    </div>
                                </div>
                            </div>
                        </option>
                    </select>
                </div>
            </div>
            <div class="p-y-20 body__wrapper__you-pay">
                <div class="body__you-pay__content">
                    <div class="body__you-pay__content__title">
                        YOU RECEIVE
                    </div>
                    <div class="body__you-pay__content__body">
                        0.20930
                    </div>
                </div>
                <div class="body__you-pay__form">
                    <select class="body__you-pay__form-selects" name="" id="">
                        <option value="">
                            <div class="body__you-pay__form-selects__wrapper">
                                <div class="body__you-pay__form-selects__img">
                                    B
                                </div>
                                <div class="body__you-pay__form-selects__type-pay">
                                    <div class="body__you-pay__form-selects__type">
                                        BTC
                                    </div>
                                    <div class="body__you-pay__form-selects__price">
                                        0.00 BTC
                                    </div>
                                </div>
                            </div>
                        </option>
                    </select>
                </div>
            </div>
            <div class="p-y-20 body__wrapper__button-submit">
                <div class="body__button-submit__form">
                    <button class="first_color five_bg-color form-button-submit">
                        BUY WITH CARD
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="../script/buy.js"></script>
    <script src="../script/script.js"></script>
</body>
</html>