<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-theme.css">
    <link rel="stylesheet" href="../styles/style-general.css">
    <link rel="stylesheet" href="../styles/style-expired.css">
</head>
<body>

    <div class="container first_bg-color">
        <div class="head">
            <div class="head__wrapper">
                <div class="head__text">
                    Quick exchange
                </div>
                <div class="head__form">
                    <button  class="head__form__button">Logo</button>
                </div>
            </div>
        </div>
        <div class="line-hr">
            <input class="line-hr-form" type="range" name="" id="" value="90%">
        </div>
        <div class="body">
            <div class="p-y-10">
                <div class="body__cardholdername form-container">
                    <div class="body__cardholdername-title">
                        <span class="text-title">
                            Cardholder Name
                        </span>
                    </div>
                    <div class="body_cardholdername-input">
                        <input class="form-input" type="text" name="" value="Erick Rivas">
                    </div>
                </div>
            </div>
            <div class="body__wrapper-card p-y-10">
                <div class="body__wrapper-card__cardnumber form-container">
                    <div class="">
                        <span class="text-title">
                            Card Number
                        </span>
                    </div>
                    <div class="">
                        <input class="form-input" type="number" name="" value="111111111111">
                    </div>
                </div>
                <div class="body__wrapper-card__dateexpired form-container">
                    <div class="">
                        <span class="text-title">
                            Expired Date / CVV
                        </span>
                    </div>
                    <div class="body__wrapper-card__dateexpired-input">
                        <input class="form-input" type="datetime" name="" value="--/--">
                        <input class="form-input" type="password" name="" id="" value="****">
                    </div>
                </div>
            </div>
            <div class="body__wrapper__confirmate-save-info">
                <div class="body__confirmate-save-info__form">
                    <div class="body__confirmate-save-info__form-input">
                        <input type="checkbox" name="" id="body__confirmate-save-info__form-input-confirmation">
                        <label for="body__confirmate-save-info__form-input-confirmation">
                            Save payment info
                        </label>
                    </div>
                </div>
            </div>
            <hr class="p-y-20">
            <div class="p-y-10">
                <div class="body__cardholdername form-container">
                    <div class="body__cardholdername-title">
                        <span class="text-title">
                            Biling Address
                        </span>
                    </div>
                    <div class="body_cardholdername-input">
                        <input class="form-input" type="text" name="" value="925 Denim Rayster">
                    </div>
                </div>
            </div>
            <div class="body__wrapper__region-country p-y-10">
                <div class="body__region">
                    <div class="form-container">
                        <div class="">
                            <span class="text-title">
                                Region
                            </span>
                        </div>
                        <div class="">
                            <input class="form-input" type="text" name="" value="New Evelyn">
                        </div>
                    </div>
                </div>
                <div class="body__country">
                    <div class="form-container">
                        <div class="">
                            <span class="text-title">
                                Country
                            </span>
                        </div>
                        <div class="">
                            <input class="form-input" type="text" name="" value="Vietnam">
                        </div>
                    </div>
                </div>
            </div>
            <div class="body__wrapper__city-zip p-y-10">
                <div class="body__city">
                    <div class="form-container">
                        <div class="">
                            <span class="text-title">
                                City
                            </span>
                        </div>
                        <div class="">
                            <input class="form-input" type="text" name="" value="The Caterine">
                        </div>
                    </div>
                </div>
                <div class="body__zip">
                    <div class="form-container">
                        <div class="">
                            <span class="text-title">
                                Zip
                            </span>
                        </div>
                        <div class="">
                            <input class="form-input" type="text" name="" value="925642">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="p-y-20">
            <div class="body__wrapper__phonenumber p-y-10">
                <div class="form-container">
                    <div class="">
                        <span class="text-title">
                            Phone Number
                        </span>
                    </div>
                    <div class="body__phonenumber-form">
                        <select class="form-input body__phonenumber-form-select" name="" id="">
                            <option value="">
                                P
                            </option>
                            <option value="">
                                C
                            </option>
                        </select>
                        <input class="form-input" type="text" name="" value="+51 955-235-451-565">
                    </div>
                </div>
            </div>
            <div class="body__wrapper-card__cardnumber p-y-10 form-container">
                <div class="">
                    <span class="text-title">
                        Email-address
                    </span>
                </div>
                <div class="">
                    <input class="form-input" type="email" name="" value="david_lotties@liquid.com">
                </div>
            </div>
            <div class="body__wrapper__button-submit">
                <div class="body__button-submit__form">
                    <button class="first_color five_bg-color form-button-submit">Pay USD $10000.00</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../script/script.js"></script>
</body>
</html>